[package]
name = "dvm"
version = "1.5.2"
license = "MIT"
authors = ["迷渡 <justjavac@gmail.com>"]
edition = "2021"
description = "Deno Version Manager - Easy way to manage multiple active deno versions."
repository = "https://github.com/justjavac/dvm"
default-run = "dvm"
keywords = ["deno", "version", "dvm", "utils"]
categories = ["hardware-support"]
documentation = "https://docs.rs/dvm"
readme = "README.md"

[[bin]]
name = "dvm"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
clap = "2.33"
# getopts = "0.2"
semver-parser = "0.10"
tempfile = "3"
tinyget = { version = "1.0", features = ["https"] }
which = "4.0"
json_minimal = "0.1"

[target.'cfg(windows)'.dependencies]
output_vt100 = "0.1"
ctor = "0.1"

[package.metadata.winres]
# This section defines the metadata that appears in the dvm.exe PE header.
OriginalFilename = "dvm.exe"
LegalCopyright = "© Dvm contributors. MIT licensed."
ProductName = "Dvm"
FileDescription = "Deno Version Manager - Easy way to manage multiple active deno versions."

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z' # Optimize for size
panic = "abort"
